<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>xkollar - $title$</title>
<link rel="feed" type="application/atom+xml" href="/atom.xml" title="Atom Feed">
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48 64x64 128x128 256x256">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body
  ><div class="wrapper"
    ><header
      ><span id="not-title">xkollar</span
      ><nav
        ><ul
          ><li><a href="/">Main</a></li
          ><span class="space"> </span><li>Archive <ul class="tags"
            ></span><li><a href="/archive.html">All</a></li
            ><span class="space"> </span>$menutags$<span class="space"> </span
            ><li><a href="/tags/">...</a></li
            ></ul
          ></li
        ></ul
      ></nav
    ></header
    ><div class="main"><h1>$title$</h1>$body$</div
    ><footer
      ><p>Find me on <a href="https://github.com/xkollar/">GitHub</a>.</p
      ><p>H4sIAIisZlgAA3PLzy9JLdLT0wMAzFDh2gkAAAA=</p
      ><p>Version 1, powered by <a href="https://jaspervdj.be/hakyll">Hakyll</a>.</p
    ></footer>
</div>
</body>
</html>
