* {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  color: #eee;
  font-size: 120%;
  font-family: Monospace;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  min-height: 100vh;
}
.wrapper > * {
  padding-left: 1em;
  padding-right: 1em;
}
header, footer {
  background-color: #111;
}
header {
  min-height: 120px;
  background-image: url('/images/Ouroboros-linear.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
}
#not-title {
  font-size: 275%;
  margin: 1ex 1em;
}
#not-title::before {
  content: "$ cd ~"
}
#not-title::after {
  /*content: "|";*/
  content: "█";
  animation: blink 1.5s ease-in 3;
  animation-fill-mode: forwards;
}
@-moz-keyframes blink {
  from, 30% {
    opacity: 1;
  }
  to, 70% {
    opacity: 0;
  }
}
header > *:first-child {
  flex: 1;
}
header nav {
  padding-bottom: 0.5ex;
  padding-top: 0.5ex;
  text-align: center;
}
header nav ul {
  display: inline;
}
header nav li {
  display: inline;
}
header nav li ul{
  display: inline-block;
}
header nav li:not(:first-child)::before {
  content: "| "
}
header nav .tags::before {
  content: "( "
}
header nav .tags::after {
  content: " )"
}
footer {
  font-size: 75%;
  color: #222;
  padding-bottom: 0.5ex;
  padding-top: 0.5ex;
  text-align: center;
}
footer:hover {
  color: #444;
}
a {
  color: #888;
}
.main {
  background: #222;
  flex: 1;
  padding-bottom: 0.5ex;
  padding-top: 0.5ex;
}
.main > * {
  padding: 1ex 0;
}
.main ul li {
  list-style: disc outside;
  margin-left: 2ex;
}
.main ul li:hover {
  list-style: square outside;
}
/* {{{ Tables */
table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid #111;
  /* background: #111; */
  padding: 0.5ex 0.5em;
  margin: 1px;
}
/* }}} Tables */
/* {{{ Images */
.figure {
  text-align: center;
}
.figure img {
  background: #ccc;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
/* }}} Images */

/* {{{ Code */
pre.sourceCode {
  background: #000;
  overflow-x: hidden;
}

pre.sourceCode code {
  background: #000;
}

pre.sourceCode:hover {
  overflow-x: visible;
}

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; background-color: #dddddd; }
td.sourceCode { padding-left: 5px; }
code > span.kw { font-weight: bold; } /* Keyword */
code > span.dt { color: #00ffff; } /* DataType */
code > span.dv { color: #ffff00; } /* DecVal */
code > span.bn { color: #ffff00; } /* BaseN */
code > span.fl { color: #88ff88; } /* Float */
code > span.ch { color: #ff00ff; } /* Char */
code > span.st { color: #ff8888; } /* String */
code > span.co { color: #888888; font-style: italic; } /* Comment */
code > span.al { color: #ff0000; font-weight: bold; } /* Alert */
code > span.fu { color: #ffff80; } /* Function */
code > span.er { color: #00ffff; font-weight: bold; } /* Error */
code > span.wa { color: #00ffff; font-weight: bold; } /* Warning */
code > span.cn { color: #ffffff; } /* Constant */
code > span.sc { color: #00ff00; } /* SpecialChar */
code > span.vs { color: #22ffff; } /* VerbatimString */
code > span.ss { color: #22ffff; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { color: #88ff88; } /* Variable */
code > span.cf { } /* ControlFlow */
code > span.op { } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { font-weight: bold; } /* Preprocessor */
code > span.at { } /* Attribute */
code > span.do { color: #808080; font-style: italic; } /* Documentation */
code > span.an { color: #808080; font-weight: bold; font-style: italic; } /* Annotation */
code > span.cv { color: #808080; font-weight: bold; font-style: italic; } /* CommentVar */
code > span.in { color: #808080; font-weight: bold; font-style: italic; } /* Information */

/* }}} Code */
